body {
    font-family: "Akshar", cursive;
    font-weight: 300;
    font-size: 20px;
}

.email-link {
    padding-top:5vh;
    font-size: 15px;
}
/* .background-gradient {
    background: linear-gradient(90deg, rgba(249,200,1,1) 0%, rgba(250,250,250,1) 10%, rgba(251,251,251,1) 90%, rgba(249,200,1,1) 100%);
} */

.splash-text {
    font-size: 20px;
}
.page-header {
    /* position:relative; */
    width:95vw;
    height:40vh;
}
.header-text {
    padding-top:20vh;
    font-size:45px;
    font-weight:700;
    color:white
}
.header-div {
    margin: 20px;
    padding:20px; 
}
.header-deco {
    background-color:rgb(1, 10, 51);
    z-index:-11;
    width: 98vw;
    height: 300px;
    position:absolute;
    border-top:10px rgba(249,200,1,1);
    border-left:10px rgba(249,200,1,1)
    
}
.center-all-page {
    /* margin: auto;
    width: 50vw; */
    text-align:center;
}
.center {
    margin: auto;
    width: 50vw;
    text-align:center;
  
}
.all-screen {
    height: 60vh;
    /* background-color: blue; */
}
.vertical-center {
    display: table-cell;
    height: 50vh;
    vertical-align: middle;
}

.avatar-picture {
    width: 200px;
    height: 200px;
    object-fit: none;
    object-position: 60% 0;
    border-radius:90%;
}

#section-line {
    border-top:2px dashed black;
}

.animation-context {
    width: 90vw;
    position:absolute;
    z-index: -10;
}


#spaceship {
    position:relative;
    height: 15px;
    width: 40px;
    background-color: #888888;
}
#spaceship:after,
#spaceship:before{
    background: red;
    width: 20px;
    height: 20px;
    position: relative;
    text-align: center;
  }
#spaceship:before,
#spaceship:after {
    content: "";
    position: absolute;
    top: -3px;
    left: 39px;
    height: 20px;
    width: 20px;
    background: lightskyblue;
  }
#spaceship:before {
    transform: rotate(60deg);
    /* transform: skew(-45deg); */
  }
#spaceship:after {
    transform: rotate(30deg);
    /* transform: skew(-45deg); */
  }


.dot {
    width: 100px;
    height: 100px;
    background-color: rgba(249,200,1,1);
    border-radius: 50%;
    position: relative;
    /* z-index:-1; */
    animation-iteration-count: infinite;

}

.dot-1 {
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0, 0.6, 0.85, 1);
}
.dot-1-faster {
    animation-duration: 3.5s;
    animation-timing-function: cubic-bezier(0, 0.7, 0.85, 1);
}

.dot-2 {
    size-adjust:75%;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0, 0.6, 0.85, 1);
}

@keyframes bubble-1-long {
    0% {left: -10%; opacity: 1;}
    /* 50% {left: 50%; opacity: 0.5;} */
    100% {left: 90%; opacity: 0; background-color: rgba(255,119,0,1)}
}

@keyframes bubble-2-medium {
    0% {left: -10%; opacity: 1; }
    /* 50% {left: 50%; opacity: 0.5;} */
    100% {left: 60%; opacity: 0; background-color: rgba(255,119,0,1)}
}

@keyframes bubble-3-short {
    0% {left: -10%; opacity: 1; }
    /* 50% {left: 50%; opacity: 0.5;} */
    100% {left: 30%; opacity: 0; background-color: rgba(255,119,0,1)}
}

.experience-block {
    padding-top: 20vh;
    padding-bottom: 10vh;
    width: 95vw;
    align-content: center;
}


.invisible-container {
    width:95vw;
    height:45vh;
    border: 1px black transparent;
}
.container {
    /* background-color:blue; */
    width:200px;
    height:250px;
    /* border: 1px solid black; */
    padding:20px 0px 20px 0px;
    border-radius: 0px;
    /* display: inline-grid; */
    /* grid-auto-rows: 1fr;  */
}

.outline-container {
    /* background-color: red; */
    width:200px;
    /* border: 1px solid black; */
    border-radius:20px;
    box-shadow: 2px 2px 10px darkgrey;
}
.logo-img {
    height: 190px; /* let the text define the height (remove this if you want the iamge to define the size) */ /* get 100% height defined by the text */
    width: auto; /* cover all the container width */
    object-fit: cover;
  }
/*   
  .container .content {
    padding: 0.5rem 1rem;
  } */


.grid-container {
    position: relative;
    /* background-color:blue; */
    display:inline-grid;
    grid-template-rows: auto auto auto;
    justify-content: center; 
    align-content: center; 
    gap:30px;
}
.grid-item {
    text-align: center;
    grid-row:1;
}